.btn-add-pocket {
  display: flex;
  align-items: center;
  color: #568DAC;
  cursor: pointer;
}

.pocket-item {
  height: 30px;
  background-color: #568DAC;
  color: white;
  border-radius: 8px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 3px;
}
