<div class="mt-3">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="pocket-item" *ngFor="let pocket of pockets">
      <div class="m-auto">{{pocket.name}}</div>
    </div>
    <div class="btn btn-add-pocket ml-2 p-0" (click)="onAddNewPocket()">
      <fa-icon [icon]="['fas', 'plus']" size="lg"></fa-icon>
    </div>
  </div>

  <div class="mt-3" *ngIf="errors && errors.length > 0">
    <ul>
      <li class="text-danger text-left" *ngFor="let error of errors"><small>{{error}}</small></li>
    </ul>
  </div>
</div>
